<!DOCTYPE html>
<html lang=en class=h-100>
  <head>
    <meta charset=utf-8>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>PostIt | dashboard</title>
    <link href=../css/bootstrap.css rel=stylesheet>
  </head>

  <body class='pt-5 h-100'>
    <header>
      <nav class='navbar navbar-expand navbar-dark fixed-top bg-dark text-light'>
        <a class=navbar-brand href=#>
          <input type=button class='nav-link btn btn-outline-light' value=PostIt>
        </a>
      </nav>
    </header>
    <div id=dashboard class='h-100 container-fluid pt-4'>
      <div class='row h-100'>
        <div class='col-md-3 d-none d-md-block'>
          <aside id=sidebar class='h-100 border border-secondary border-left-0 border-top-0 border-bottom-0'>
            <a class='' href='/group/:groupId/messages'><h5 class='py-2 border border-secondary border-left-0 border-top-0 border-right-0'>Message board</h5></a>

            <div class='list-group flex-column' id=grouplist>
              <div class='pb-2 d-flex justify-content-between align-items-center'>
                <h5 class=d-inline>Groups</h5>
                <input type=button class='mr-3 btn btn-sm btn-outline-info' value='+'>
              </div>
              <!-- a class='list-group-item list-group-item-action d-flex justify-content-between align-items-center' href=# id>ReactDev C - Kaduna
              <span class='badge badge-primary badge-pill'>14</span></a -->

            </div>

          </aside>
        </div>
        <div class=col-md-9 role=main>
          <div id=board class="card-columns">
            
          </div>

          <div class='text-right fixed-bottom mb-4 mr-4 form-group'>
            <input type=button class='btn btn-primary-info' value='Post'>
          </div>
        </div>
      </div>
    </div>

    <!-- CREATE NEW POST FORM -->
    <div id=newpost-container class='container newpost pt-4'>
      <form action=/api/group/:groupId/message method=post>
        <div class=form-group>
          <select class=form-control>
            <option>Select group</option>
          </select>
        </div>
        <div class=form-group>
          <textarea spellcheck=false rows=10 class=form-control name=message>
          </textarea>
        </div>
        <div class='form-group text-right'>
          <input class='btn btn-lg btn-outline-primary' type=button value=Cancel>
          <input id=create-post-btn class='btn btn-lg btn-outline-secondary' type=submit value=Post>
        </div>
      </form>
    </div>

    <!-- CREATE NEW GROUP FORM-->
    <div id=newgroup-container class='container newgroup pt-4'>
      <form action=/api/group method=post>
        <hgroup>
          <h1>Create a group</h1>
          <p class='form-text text-muted'>Groups are where you post notifications to everyone.</p>
        <hgroup>

        <div class=form-group>
          <label class=font-weight-bold for=group-name>Name</label>
          <input id=group-name name=name class='form-control form-control-lg' placeholder='e.g. Good People' required>
          <small class='form-text text-muted'>Names must be shorter than 23 characters.</small>
        </div>

        <div class=form-group>
          <label for=group-purpose><span class=font-weight-bold>Purpose</span> <span class='text-muted'>(optional)</span></label>
          <input id=group-purpose name=purpose class='form-control form-control-lg'>
          <small class='form-text text-muted'>What's this group about?</small>
        </div>

        <div class=form-group>
          <label for=group-invites>
            <span class=font-weight-bold>Invite:</span>
            <span class='text-muted'>(optional)</span>
          </label>
          <input id=group-invites name=invites class='form-control form-control-lg' placeholder='Search by username' multiple>
          <small class='form-text text-muted'>Select up to 200 people to add to this group.</small>
        </div>

        <section class=text-right>
          <input type=button class='btn btn-lg btn-outline-primary' value=Cancel>
          <input type=submit class='btn btn-lg btn-outline-secondary' id=create-group-btn value='Create Group'>
        </section>
      </form>
    </div>
    <script src=../js/jquery.js></script>
    <script src=../js/popper.js></script>
    <script src=../js/bootstrap.js></script>
    <script src=../js/dashboard.js></script>
  </body>
</html>
