<!DOCTYPE html>
<html lang=en>
  <head>
    <meta charset=utf-8>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>PostIt</title>
    <link href=../css/bootstrap.css rel=stylesheet>
  </head>

  <body>
    <header>
      <a href='../index.html'>PostIt</a>
    </header>
   
    <aside> 
      <nav>
        <section>
          <ul>
            <li><a href='newgroup.html'>New Group</a></li>
          </ul>
        </section>
      </nav>
    </aside>

  </body>
</html>
