<!DOCTYPE html>
<html lang=en>
  <head>
    <meta charset=utf-8>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>PostIt</title>
    <link href=../css/bootstrap.css rel=stylesheet>
    <link href=../css/dashboard.css rel=stylesheet>
  </head>

  <body>
    <header class="navbar bg-dark">
      <a href='../index.html'>
        <input type=button class='btn btn-outline-info' value=PostIt>
      </a>
    </header>

    <div class=container-fluid>

      <article>
        Hello
      </article>
      <aside> 
        <nav>
          <a href=#>Message board</a>
          <section>
            <a href='newgroup.html'>
              <input class='btn btn-outline-dark' type=button value='New Group'>
            </a>
            <a href='newpost.html'>
              <input class='btn btn-outline-dark' type=button value='New Post'>
            </a>
          </section>
        </nav>
      </aside>

    </div>

  </body>
</html>
