<!DOCTYPE html>
<html lang=en>
  <head>
    <meta charset=utf-8>
    <meta name=viewport content='width=device-width, initial-scale=1.0'>
    <title>PostIt | Login | Sign Up</title>
    <link rel=stylesheet href='https://fonts.googleapis.com/icon?family=Material+Icons'>
    <link rel=stylesheet href=../css/materialize.css>
  </head>

  <body class='blue-grey lighten-5'>
  <div>

    <div class='row section'>
      <div id=login-form class='card-panel col s12 m6 offset-m3'>
        <div class='grey-text text-darken-1'>
          <h4>PostIt</h4>
        </div>
        <p>Create groups with friends and collegues for notifications...</p>
        <div class=divider></div>
        <h5 class=section>Sign in</h5>
        <form>
          <div class=input-field>
            <label for=username>Username</label>
            <input id=username type=text name=username>
          </div>

          <div class=input-field>
            <label class=active for=password>Password</label>
            <input id=password type=password name=password>
            <span class=helper-text><a href=#>Forgot account?</a></span>
          </div>

          <div class='center-align'>
            <button type=button class='btn waves-effect waves-light blue'>Sign In</button>
          </div>
        </form>
        <div class='center-align section'>
          <span class=helper-text><a id=signup-link href=#>Don't have an account?</a></span>
        </div>
      </div>

      <div id=signup-form class='card-panel col s12 m6 offset-m3'>
        <div><h5>Create an account</h5></div>
        <form>
          <div class=input-field>
            <label for=fusername>Username</label>
            <input id=fusername type=text required>
            <span class=helper-text>Name can only contain letters, numbers and underscore</span>
          </div>

          <div class=input-field>
            <label for=femail>Email address</label>
            <input id=femail type=email required>
          </div>

          <div class=input-field>
            <label for=fpassword>Password</label>
            <input id=fpassword type=password required>
            <span class=helper-text>Password must be 8-32 characters long</span>
          </div>

          <div class=input-field>
            <label for=fconfirm>Confirm password</label>
            <input id=fconfirm type=password required>
          </div>

          <div class=center-align>
            <button type=button class='btn waves-effect waves-light blue'>
              Sign Up
              <i class='material-icons right'>send</i>
            </button>
          </div>

          <div class='center-align section'>
            <span><a id=login-link href=#>Have an account?</a></span>
          </div>
        </form>
      </div>
    </div>
    <footer class=center-align>
      <div class=footer-copyright>
        <span class='grey-text text-darken-1'>&copy; 2018</span>
      </div>
    </footer>
  </div>
  <script src=../js/materialize.js></script>
  <script src=../js/script.js></script>
  </body>
</html>
