<!DOCTYPE html>
<html lang=en>
  <head>
    <meta charset=utf-8>
    <title>Create broadcast group</title>
    <link href=../css/bootstrap.css rel=stylesheet>
  </head>

  <body>
    <form method=post>
      <hgroup>
        <h1>Create a group</h1>
        <small>Groups are where you post notifications to everyone.</small>
      <hgroup>
      
      <label for=name>Name</label>
      <input id=name name=name placeholder='e.g. Good People' required>
      <small>Names must be shorter than 22 characters.</small>

      <label for=purpose>Purpose <span>(optional)</span></label>
      <input id=purpose name=purpose>
      <small>What's this group about?</small>

      <label for=invites>Invite: <span>(optional)</span></label>
      <input id=invites name=invites placeholder='Search by username' multiple>
      <small>Seperate usernames with whitespace.</small>

      <section>
        <input type=button value=Cancel>
        <input type=submit value="Create Group">
      </section>
    </form>
  </body>
</html>
