<!DOCTYPE html>
<html lang=en>
  <head>
    <meta charset=utf-8>
    <title>New Post | PostIt</title>
    <link rel=stylesheet href=../css/bootstrap.css>
  </head>

  <body>
    <div class=container role=main>
      <header>
        <input type=text readonly value='Firstname Surname'>
        <select>
          <option>Choose Group</option>
        </select>
      </header>
      <textarea spellcheck=false placeholder='Type your message...'></textarea>
      <section>
      <section>
      <footer>
        <form id=post>
          <input type=button value=Cancel>
          <input type=submit value=Post>
        </form>
      </footer>
    </div>

  </body>
</html>
