<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PostIt | Sign-In</title>
  <head>
  <body>
    <form action='#'>
      <label for="username">Username</label>
      <input id="username" type="text" name="username" pattern="[A-Z,a-z,0-9,_]*">
      <label for="password">Password</label>
      <input id="password" type="password" name="password" pattern="[^\s]{8,32}">
      <button type="submit">
        Sign In
      </button>
    </form>

    <script src="../js/material.js"></script>
  </body>
</html>
