<!DOCTYPE html>
<html lang=en>
  <head>
    <meta charset=utf-8>
    <title>PostIt</title>
    <link href=css/bootstrap.css rel=stylesheet>
    <link href=css/style.css rel=stylesheet>
  </head>
  <body>
    <header>
      <a href=/><img src=img/logo.png alt=home></a>
      <!-- Signin form -->
    </header>

    <article>
    <h1>PostIt</h1>
    <p><b>PostIt</b> is a simple application that allows friends and colleagues create groups for noitifications. This way one person can post notifications to everyone by sending a message once.</p>
    </article>

    <!-- Signup form -->

    <footer>
    </footer>
  </body>
</html>
