<!DOCTYPE html>
<html lang=en>
<head>
  <meta charset=utf-8>
  <title>PostIt - log in or sign up</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link href=css/bootstrap.css rel=stylesheet>
</head>

  <body>
    <header>
      <nav class='navbar bg-dark text-light'>
        <a class=navbar-brand href=#>
            <input type=button class='btn btn-outline-info' value=PostIt>
        </a>
        <form id=signin>
          <div class=form-row>
            <div class='form-group col-sm-auto'>
              <label class=form-label for=username>Username</label>
              <input class=form-control form=signin name=username placeholder=Username id=username type=text required aria-required>
            </div>
            <div class='form-group col-sm-auto'>
              <label class=form-label for=password>Password</label>
              <input class=form-control form=signin name=password type=password placeholder=Password id=password required aria-required>
            </div>
            <div class='form-group col-sm-auto align-self-end'>
              <input id=signin-btn class='btn btn-outline-primary' type=submit value='Sign In' data-method=post data-action=/api/user/signin data-form=signin>
            </div>
          </div>
        </form>
      </nav>
    </header>

    <div class=container>
      <div class='row main' role=main>
        <div class=col-md-8>
          <aside>
            <article>
              <h1 class=display-4>PostIt</h1>
              <p class="h3 text-muted">
                PostIt is a simple application that allows friends and colleagues create groups for notifications. This way one person can post notifications to everyone by sending a message once.
              </p>
            </article>
          </aside>
        </div>
        <div class='col-12 col-md-4'>
          <form id=signup>
            <h2 class=form-signin-heading>Create an Account</h2>
            <div class=form-group>
              <input form=signup class=form-control name=firstname placeholder=Firstname required aria-required>
            </div>
            <div class=form-group>
              <input form=signup class=form-control name=surname placeholder=Surname required aria-required>
            </div>
            <div class=form-group>
              <input form=signup class=form-control name=username placeholder=Username required aria-required>
            </div>
            <div class=form-group>
              <input form=signup class=form-control name=email type=email placeholder=email required aria-required>
            </div>
            <div class=form-group>
              <input form=signup class=form-control name=password type=password id=signup-password placeholder=Password required aria-required>
              <small class='form-text text-muted'>Your password must be 8-32 characters long</small>
            </div>
            <div class=form-group>
              <input form=signup class=form-control type=password id=confirm-password placeholder='Confirm Password' required aria-required>
            </div>
            <div class=form-group>
              <label for=birthday>Birthday</label>
              <input form=signup class=form-control name=birthday type=date id=birthday>
            </div>
            <div class='form-group form-inline'>
              <div class='form-check form-check-inline'>
                <input class=form-check-input id=male type=radio name=gender value=male form=signup>
                <label class=form-check-label for=male>Male</label>
              </div>
              <div class='form-check form-check-inline'>
                <input class=form-check-input id=female type=radio name=gender value=female form=signup>
                <label class=form-check-label for=female>Female</label>
              </div>
            </div>
            <div class=form-group>
              <input data-form=signup id=signup-btn class=btn type=submit data-method=post data-action=/api/user/signup value="Sign Up">
            </div>
          </form>
        </div>
      </div>
      <div>
        <footer class=text-center>
          <small>
            <a href=https://github.com/usmansbk><img src=img/github-logo.png alt=GitHub></a><br>
            <a href=https://andela.com>Andela</a> &copy; 2017
          </small>
        </footer>
      </div>
    </div>

    <script src=js/route.js></script>
    <script src=js/util.js></script>
    <script src=js/script.js></script>
  </body>
</html>
