table {
  label {
    color:white;
  }
}
label {
  margin-bottom:1px;
}
div[class=main] {
  overflow:auto;
  padding-left:20px;
  padding-right:20px;
  padding-top:30px;
}

form[id=signup] {
  float:right;
  width:40%;
  label {
    display:none;
  };
  input {
    display:block;
    margin-bottom:8px;
    &[type=radio] {
      display:inline;
    }
  }
}
