.dropdown-content {
  width: 300px;
  li {
    cursor: default !important;
    &:hover {
      background-color: inherit !important;
    };
    &:focus {
      background-color: inherit !important;
    };
  }
}
