#location {
  font-weight: 500;
  font-size: 20px;
  margin-left: 2%;
  margin-left: 1%;
}

#td-menu {
  width: 30px;
}

#td-loc {
  width: 150px;
}

#td-logo {
  max-width: 40px;
}
table {
  height: inherit;
	td, th {
		padding: 0;
		border-radius: 0;
  };
  tr {
		border: none;
  };
}

#avatar, #td-search, #td-notification, #td-menu {
  cursor: pointer;
}

#avatar {
	display: block;
  width: 32px;
  height: 32px;
  margin-left: 10%;
}
