#notifications {
	p {
		margin: 0px;
  };
  width: 350px;
	#header {
    margin: 0px;
		height: auto;
		.col {
			height: 100%;
		};
		.material-icon {
			height: 100%;
		}
	};
}

#notification-item {
  cursor: pointer;
  height: 99px;
  &:hover {
    background-color: #eceff1;
  };
  .col {
    height: inherit;
      #info {
        padding-top: 20px;
        padding-left: 10px;
        div {
          #name {
            font-weight: 500;
          }
          height: 20px;
          line-height: 20px;
          font-size: 12px;
          i {
            font-size: 1rem;
          }
        }
      }
   } 
}
