#search-item {
	width: 100%;
	padding: 0 !important;
	margin: 0;
	height: auto;
	div {
		height: auto;
		.row {
			margin-bottom: 0;
		}
	};
	i {
		cursor: pointer;
	};
	&:hover {
		background-color:#cfd8dc;
	}
}